#card {
    background-color: #fff;
    color: #111;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

#cardTitle {
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    color: #111;
}

#cardTitle:hover {
    text-decoration: underline;
}

#cardTags {
    margin-top: 2em;
}

#cardTag {
    font-size: small;
    background-color: #eee;
    padding: 6px;
    border-radius: 5px;
}

#cardImg {
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    height: 70%;
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2em;
    border-top: 2px solid #ddd;
}




#gridContainer {
    display: flex;
    justify-content: space-between;
}

#leftContainer {
    width: 45.5%;
}

#rightContainer {
    width: 50%;
    margin-left: 75px;
    flex: 1;
}