#sidebar {
    background-color: #fff;
    height: 100%; 
    width: 320px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden; 
    padding: 20px;
    padding-left: 30px;
}

.sidebarNav {
    color: #111;
    font-size: 1.25em;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
}

.sidebarNav:hover {
    text-decoration: underline;
}


#contact {
    margin-top: 3em;
    line-height: 1em;
}

#contact a {
    font-size: 1.1em;
}

#pfp {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

